{{ define "home" }}

{{ template "top" }}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">NoNotes</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/home/">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="/newnote/">Add note</a>
        <a class="nav-link fw-bold py-1 px-0" href="/login/">Sign in</a>
        <a class="nav-link fw-bold py-1 px-0" href="/registration/">Sign up</a>
        <a class="nav-link fw-bold py-1 px-0" href="/editnote/">Edit your notes</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Your and your friends` notes</h1>
    <h1></h1>
      <ul>
        {{range . }}
          <h3> {{ .UserId }} `s note: {{ .Name }}</h3>
          <h4> {{ .Text }}</h4>
          <b>This note will be here for {{ .Ttl }} more hours</b>
          <td><a href="/edit/{{.Name}}">Изменить</a> |
              <a href="/delete/{{.Name}}">Удалить</a>
        </td>
        {{end}}
      </ul>
  </main>

  {{ template "bot" }}

  {{ end }}